@page
@model SANoAuthFinalProj.Pages.Sensors.DataViewModel
@{
    ViewData["Title"] = "DataView";
}

<h2>DataView</h2>

<div>
    <h4>DataPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().TimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().TimeStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().BMI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().BMI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().CaloriesIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().CaloriesIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().CaloriesBurned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().CaloriesBurned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().Steps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().Steps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().MinutesAsleep)
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().MinutesAsleep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().MinutesAwake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().MinutesAwake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().FatConsumed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().FatConsumed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().FiberConsumed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().FiberConsumed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().CarbsConsumed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().CarbsConsumed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().SodiumConsumed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().SodiumConsumed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().ProteinConsumed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().ProteinConsumed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DPList.FirstOrDefault().WaterConsumed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DPList.FirstOrDefault().WaterConsumed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DPList.FirstOrDefault().TimeStamp">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>