@page
@model SANoAuthFinalProj.Pages.Sensors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Sensors</h2>

<p>
    <a asp-page="Create" class="btn btn-default">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sensor[0].ID)
                </th>
                <th>@Html.DisplayNameFor(model => model.Sensor[0].Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sensor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-default">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-default">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-default">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
